.address{
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 40px;
    width: 100%;
    max-width: 800px;
}

.address .text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.address form{
    padding: 30px 0 0 0;
}

.address form .form-row{
    display: flex;
    margin: 32px 0;
}

form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}

form .form-row .textarea{
    height: 70px;
}

.input-data input,
.textarea textarea{
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border: 1px solid #15173b;
    border-radius: 20px;
    padding: 12px;
    outline: none;
}

.input-data textarea{
    position: relative;
    width: 100%;
    height: 100px;
    resize: none;
}

.input-data label{
    position: absolute;
    bottom: 40px;
    font-size: 16px;
    pointer-events: none;
    margin-bottom: 5px;
}

.submit-btn{
    padding-top: 50px;
}

.submit-btn input{
    padding: 0;
    color: white;
    background: #15173b;
    border: none;
    border-radius: 2px;
}

.address_section{
    text-align: center;
}
@media (max-width:700px) {
    .address .text{
        font-size: 30px;
    }

    .address form{
        padding: 10px 0 0 0 0;
    }
    .address form .form-row{
        display: block;
    }
    form .form-row .input-data{
        margin: 35px 0 !important;
    }
    .submit-btn .input-data{
        width: 40% in !important;
    }
    
}