
.child{
  
    padding-top:50px ;
    
  }
  
  .child h3{
    margin: 0;
    text-align: center;
  }
  
  .horizontal_Bar::after{
    content: '';
    width: 3rem; 
    position: absolute;
    background: #BD0606;
    border: 2px solid #BD0606;
  }
  
  
  
  .Members_catagory h3{
    text-align: center;
    font-size: 30px;
    color: #fff;
    background-color: #15173b;
  }
  
  .img-cards{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 491px;
  }    

  
  .images_line p{
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
  }
  
  .imgCard p{
    color: #000;
  }
  
  .imgCard img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 50%;
    border: 5px solid #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
  }
  
  
  .thirdImagCards{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
  }
  .thirdImagCards p{
    color: #2c2b2b;
  }
  .thirdImagCards img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    height: 200px;
    width: 200px;
    border: 5px solid #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
  }